

.genClass8322 { 
  background-color: rgb(0, 0, 255);
}

/*.navbar-default {*/
/*    background-color: coral !important;*/
/*    border-color: coral !important;*/
/*}*/

.genClass6186 { 
       margin-left: 11%;
}



.genClass941 { 
  margin-bottom: 20px;
}

.genClass659 { 
  margin-bottom: 20px;
}
.scrolll{
 overflow:auto !important; 
 height: 750px !important;
}